$font: 'ProximaNova';
$font-format: 'opentype';
$font-name: 'ProximaNova';
$font-type: 'otf';
$font-url: '../fonts';

@font-face {
  font-family: '#{$font}';
  src: url("#{$font-url}/#{$font}/#{$font-name}.#{$font-type}") format('#{$font-format}');
}

@font-face {
  font-family: '#{$font}Bold';
  src: url("#{$font-url}/#{$font}/#{$font-name}Bold.#{$font-type}") format('#{$font-format}');
}

@font-face {
  font-family: '#{$font}Light';
  src: url("#{$font-url}/#{$font}/#{$font-name}Light.#{$font-type}") format('#{$font-format}');
}

@mixin font($type: '') {
  @if($type == '') {
    font-family: '#{$font}' !important;
  }@else {
    font-family: '#{$font}-#{$type}' !important;
  }
}

.font-light {
  font-family: '#{$font}Light' !important;
}

.font-bold {
  font-family: '#{$font}Bold' !important;
}

.font-regular {
  font-family: '#{$font}' !important;
}